.orders-page {
  padding: 40px;
  font-family: "Poppins", sans-serif;
  background: #1a1a1a;
  color: #f9f7f2;
  min-height: 100vh;
}

.orders-title {
  color: #d4af37;
  text-align: center;
  font-size: 32px;
}

.empty-msg {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: #ccc;
}

.orders-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.order-card {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.order-card:hover {
  background: #333;
}

.order-card h2 {
  color: #d4af37;
}

.order-items {
  margin-top: 10px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.order-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.p-title {
  font-weight: bold;
  color: #f9f7f2;
}
.cancel-btn {
  background-color: #d9534f; /* red color */
  color: #f9f7f2;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.cancel-btn:hover {
  background-color: #c12e2a;
  transform: translateY(-2px);
}

.cancelled-msg {
  color: #d4af37;
  font-weight: bold;
  margin-top: 10px;
}

.progress-bar-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.progress-step {
  width: 22%;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  background-color: #ddd;
  font-weight: bold;
  font-size: 12px;
}
.progress-step.active {
  background-color: #D4AF37;
  color: #fff;
}

.track-btn {
  background-color: #D4AF37;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.track-btn:hover {
  background-color: #b8962f;
}
