.wishlist-page {
  background: #1a1a1a;
  min-height: 100vh;
  padding: 50px 8%;
  font-family: "Poppins", sans-serif;
  color: #f9f7f2;
}

.wishlist-title {
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  color: #d4af37;
  margin-bottom: 35px;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 22px;
}

.wishlist-card {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 18px;
  padding: 18px;
  text-align: center;
  border: 1px solid rgba(212, 175, 55, 0.25);
  transition: 0.3s ease;
}

.wishlist-card:hover {
  transform: translateY(-6px);
  border: 1px solid rgba(212, 175, 55, 0.55);
}

.wishlist-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid rgba(212, 175, 55, 0.2);
}

.wishlist-card h3 {
  margin-top: 12px;
  font-size: 18px;
}

.price {
  margin-top: 6px;
  font-weight: 800;
  color: #d4af37;
}

.btn-row {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.gold-btn {
    padding: 14px 22px;
  border-radius: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
   background: #d4af37;
  color: #1a1a1a;

}


 

.remove-btn {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 800;
  background: rgba(255, 0, 0, 0.15);
  color: #ff4d4d;
}

.view-btn {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
  color: #f9f7f2;
  font-weight: 700;
}

.view-btn:hover {
  background: rgba(212, 175, 55, 0.15);
}

.empty-msg {
  text-align: center;
  color: #bbb;
}
